<header class="h-4rem bg-white w-full flex align-items-center justify-content-between">
  <div class="w-1/4 bg-blue-600 p-5 text-white font-bold border-b-2">
    <h2>Consultas Médicas</h2>
  </div>

  <div class="flex flex-grow p-2 items-center border-b-2 border-r-2">
    <div class="flex h-11 justify-center items-center align-middle">
      <i class="pi pi-search text-gray-600"></i>
    </div>
    <div class="card flex justify-content-center w-full m-3">
      <input placeholder="Pesquisar medicamento..." type="text" pInputText [(ngModel)]="value" class="w-full"/>
    </div>
  </div>

</header>
